{{ if eq .chezmoi.os "darwin" }}
tap "asmvik/formulae"
tap "dimentium/autoraise"
tap "felixkratz/formulae"
tap "nikitabobko/tap"
{{ end }}
brew "antidote"
brew "atuin"
brew "bat"
brew "bat-extras"
brew "bottom"
brew "carapace"
brew "chezmoi"
brew "choose-rust"
brew "cmake"
brew "duf"
brew "dust"
brew "eza"
brew "fd"
brew "fish"
brew "fisher"
brew "git-delta"
brew "gnupg"
brew "helix"
brew "hyperfine"
brew "lazygit"
brew "libssh"
brew "meson"
brew "mise"
brew "nushell"
{{ if eq .chezmoi.os "darwin" }}
brew "pinentry-mac"
{{ end }}
brew "procs"
brew "ripgrep"
brew "rustup"
brew "sesh"
brew "starship"
{{ if eq .chezmoi.os "linux" }}
brew "syncthing"
{{ end }}
brew "television"
brew "tlrc"
brew "tmux"
brew "wget"
brew "yazi"
brew "zoxide"
{{ if eq .chezmoi.os "darwin" }}
brew "dimentium/autoraise/autoraise", args: ["with-dexperimental_focus_first"]
brew "felixkratz/formulae/borders"
brew "felixkratz/formulae/sketchybar"
cask "nikitabobko/tap/aerospace"
cask "appcleaner"
cask "balenaetcher"
cask "devcleaner"
cask "font-hack-nerd-font"
cask "font-jetbrains-mono"
cask "ghostty"
cask "gpg-suite-no-mail"
cask "keepassxc"
cask "maccy"
cask "obsidian"
cask "opencloud"
cask "raycast"
cask "sf-symbols"
cask "syncthing-app"
cask "ungoogled-chromium"
cask "vscodium"
cask "zen"
cask "zoom"
{{ else }}
flatpak "page.codeberg.dnkl.foot"
flatpak "com.vscodium.codium"
flatpak "app.zen_browser.zen"
flatpak "io.github.ungoogled_software.ungoogled_chromium"
flatpak "org.keepassxc.KeePassXC"
flatpak "md.obsidian.Obsidian"
flatpak "com.github.tchx84.Flatseal"
{{ end }}
vscode "astro-build.astro-vscode"
vscode "biomejs.biome"
vscode "bradlc.vscode-tailwindcss"
vscode "catppuccin.catppuccin-vsc"
vscode "codeium.codeium"
vscode "dart-code.dart-code"
vscode "dart-code.flutter"
vscode "firsttris.vscode-jest-runner"
vscode "formulahendry.auto-close-tag"
vscode "oven.bun-vscode"
vscode "tamasfe.even-better-toml"
vscode "yzhang.markdown-all-in-one"
